body {
    color: #4E4E4E;
    background-color: #FFFFFF;
    font-family: geneva, sans-serif;
/*    font-family: garamond, serif; */
}

img {
    /* padding: 1em;
    width: 8em; */
    padding: 10px;
    width: 120px;
}

h1 {
    font-family: geneva;
    letter-spacing: 3px;
    color: #00A860;
}

h2 {
    text-transform: uppercase;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    letter-spacing: 3px;
    color: #00A860;
}

h3 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}


ul, p {
    margin-top: 0;
    margin-bottom: 0;
}

.bigger {
    font-size: xx-large;
    color: #00A860;
}

.left-top {
    text-align: center;
    float: left;
    width: 30%; 
    height: 140px;
    background-color: #4E4E4E;
}

.right-top {
    text-align: center;
    float: left;
    width: 70%; 
    height: 140px;
    background-color: #EEEEEE;
}

.left-side {
    float: left;
    width: 30%; 
    background-color: #4E4E4E;
}

.left-group {
    letter-spacing: 1px;
    text-decoration: none;
    color: #EEEEEE;
    font-family: geneva, sans-serif;
    font-size: 10pt;
    padding: 10px
}

.right-side {
    float: left;
    width: 70%; 
    background-color: #EEEEEE;
}

.right-group {
    letter-spacing: 1px;
    text-decoration: none;
    font-family: geneva, sans-serif;
    font-size: 10pt;
    padding: 10px
}
    