body {
    color: #00A860;
    background-color: #CCCCCC;
    
}

img {
    display: inline;
    padding: 2vw;
    width: 20vw;
}

h1 {
    
}

.top-row {
    background-color: #FFFFFF;
}

.top-text {
    position: absolute;
    top: 2vw;
    left: 28vw;
}
 
.left-side {
    position: absolute;
    left: 0vw;
    width: 25vw;
    
}

.right-side {
    position: absolute;
    left: 30vw;
    width: 65vw;
    
}